<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="Save" value="Speichern" />
	<word ref="Cancel" value="Abbrechen" />
	<word ref="Delete" value="Löschen" />
	<word ref="Title" value="Titel" />
	<word ref="Reference" value="Identifikation" />
	<word ref="Type" value="Typ" />
	<word ref="ReferenceRequired" value="Identifikation ist erforderlich" />
	<word ref="TitleRequired" value="Titel ist erforderlich" />
	<word ref="TypeRequired" value="Typ ist erforderlich" />
	<word ref="ModuleData" value="Modul Daten" />
	<word ref="TabData" value="Tab Daten" />
	<word ref="AddModule" value="Modul hinzufügen" />
	<word ref="RoleType" value="Rollen Typ" />
	<word ref="Role" value="Rolle" />
	<word ref="RoleView" value="Lesen" />
	<word ref="RoleEdit" value="Bearbeiten" />
	<word ref="SubTabs" value="Unterstruktur" />
	<word ref="AddTab" value="Tab hinzufügen" />
	<word ref="ModulesLeft" value="Module Links" />
	<word ref="ModulesMiddle" value="Module Mitte" />
	<word ref="ModulesRight" value="Module Rechts" />
</language>