.Viewuser_Head
{
	background-color:#F0F0F0;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	font:12px Arial;
	font-weight:bold;
}
.Viewuser_Title_cell
{
	padding-top:4px;
	font:12px Arial;
	padding-bottom:3px;
}