<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<RewriteRules>
  <Configuration>
    <RewriteRulesFile cacheExpire="60" />
  </Configuration>
  <rules>
    <rule name="Trang chủ">
      <url>/home\.htm</url>
      <rewrite>/default.aspx?PageType=1&amp;Cat_ID=0&amp;Cat_ParentID=0</rewrite>
    </rule>
    
    <!--Danh sach P -->
    <rule name="Danh sach san pham cap 1">
      <url>/shopping.htm</url>
      <rewrite>/Pages/ListCategory.aspx?PageIndex=1</rewrite>
    </rule>
    <rule name="Danh sach san pham cap 1">
      <url>/shopping.htm/trang-([0-9]+).htm</url>
      <rewrite>/Pages/ListCategory.aspx?PageIndex=$1</rewrite>
    </rule>
    <!--<rule name="Danh sach san pham cap 1">
      <url>/products/([^/]+)-p0c([0-9]+).htm</url>
      <rewrite>/Pages/ListCategory.aspx?Cat_ParentID=0&amp;Cat_ID=$2&amp;Cat_Name=$1&amp;PageIndex=1</rewrite>
    </rule>
    <rule name="Danh sach san pham cap 1">
      <url>/products/([^/]+)-p0c([0-9]+)/trang-([0-9]+).htm</url>
      <rewrite>/Pages/ListCategory.aspx?Cat_ParentID=0&amp;Cat_ID=$2&amp;Cat_Name=$1&amp;PageIndex=$3</rewrite>
    </rule>-->
    <rule name="Danh sach san pham cap 2">
      <url>/products/([^/]+)-p([0-9]+)c([0-9]+).htm</url>
      <rewrite>/Pages/ListProduct.aspx?Cat_ParentID=$2&amp;Cat_ID=$3&amp;Cat_Name=$1&amp;PageIndex=1</rewrite>
    </rule>
    <rule name="Danh sach san pham cap 2 phan trang">
      <url>/products/([^/]+)-p([0-9]+)c([0-9]+)/trang-([0-9]+).htm</url>
      <rewrite>/Pages/ListProduct.aspx?Cat_ParentID=$2&amp;Cat_ID=$3&amp;Cat_Name=$1&amp;PageIndex=$4</rewrite>
    </rule>
    <rule name="Danh sach tin N">
      <url>/news/([^/]+)-p([0-9]+)c117.htm</url>
      <rewrite>/Pages/Video.aspx?Cat_ParentID=$2&amp;Cat_ID=117&amp;Cat_Name=$1&amp;PageIndex=1</rewrite>
    </rule>
     <rule name="Danh sach tin N">
      <url>/news/([^/]+)-p([0-9]+)c117/trang-([0-9]+).htm</url>
      <rewrite>/Pages/Video.aspx?Cat_ParentID=$2&amp;Cat_ID=117&amp;Cat_Name=$1&amp;PageIndex=$3</rewrite>
    </rule>
      <rule name="Danh sach tin N">
          <url>/news/([^/]+)-p([0-9]+)c([0-9]+).htm</url>
          <rewrite>/Pages/ListNews.aspx?Cat_ParentID=$2&amp;Cat_ID=$3&amp;Cat_Name=$1&amp;PageIndex=1</rewrite>
      </rule>
      <rule name="Danh sach tin N">
          <url>/news/([^/]+)-p([0-9]+)c([0-9]+)/trang-([0-9]+).htm</url>
          <rewrite>/Pages/ListNews.aspx?Cat_ParentID=$2&amp;Cat_ID=$3&amp;Cat_Name=$1&amp;PageIndex=$4</rewrite>
      </rule>
      <rule name="Danh sach san pham cap 2">
      <url>/productcolor/([0-9]+)-([^/]+).htm</url>
      <rewrite>/Pages/ProductColor.aspx?Color_ID=$1&amp;Cat_ID=1</rewrite>
    </rule>
      <rule name="MyBasket">
        <url>/mybasket.htm</url>
        <rewrite>/Pages/ViewShopingCart.aspx</rewrite>
      </rule>
    <rule name="MyBasket">
      <url>/album.htm</url>
      <rewrite>/Pages/album.aspx</rewrite>
    </rule>
    <rule name="MyBasket">
      <url>/album/([^/]+)-([0-9]+).htm</url>
      <rewrite>/Pages/AlbumDetail.aspx?AlbumID=$2</rewrite>
    </rule>
      <rule name="Search">
          <url>/AboutUs.htm</url>
          <rewrite>/AboutUs.aspx?Cat_ID=3&amp;Cat_ParentID=0</rewrite>
      </rule>
      <rule name="Search">
          <url>/LienHe.htm</url>
          <rewrite>/Pages/LienHe.aspx</rewrite>
      </rule>
    <!--Danh sach N -->
    
    
    <rule name="Tin chi tiet SP">
      <url>/products/([0-9]+)p([0-9]+)c([0-9]+)/([^/]+).htm</url>
      <rewrite>/Pages/ProductDetail.aspx?Cat_ParentID=$2&amp;Cat_ID=$3&amp;News_ID=$1</rewrite>
    </rule>
    <rule name="Tin chi tiet">
      <url>/news/([0-9]+)p([0-9]+)c117/([^/]+).htm</url>
      <rewrite>/Pages/Video.aspx?Cat_ParentID=$2&amp;Cat_ID=117&amp;News_ID=$1&amp;PageType=4</rewrite>
    </rule>
    <rule name="Tin chi tiet">
      <url>/news/([0-9]+)p([0-9]+)c([0-9]+)/([^/]+).htm</url>
      <rewrite>/Pages/NewsDetails.aspx?Cat_ParentID=$2&amp;Cat_ID=$3&amp;News_ID=$1&amp;PageType=4</rewrite>
    </rule>
   
     <rule name="Danh sach san pham cap 2">
      <url>/tag/([^/]+).htm</url>
      <rewrite>/Pages/TagList.aspx?tag=$1&amp;PageIndex=1</rewrite>
    </rule>
    
 

    <rule name="RSS">
      <url>/Rss/home.rss</url>
      <rewrite>/Rss/Rss_Content.aspx?Cat_ParentID=0&amp;Cat_ID=0</rewrite>
    </rule>
   
  </rules>
</RewriteRules>