<?xml version="1.0" encoding="utf-8"?>
<portal xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <tabs>
    <tab hidden="true" ref="Login" skin="Skin.Default.config">
      <columns>
        <column stylecontent="" level="1" name="Cot login" ref="dafa1e98-21f4-49b1-9464-0108bd697da2" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="login">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Login</title>
              <type>Administrator/Login</type>
            </module>
          </modules>
        </column>
      </columns>
      <roles>
        <view>TATCA</view>
      </roles>
      <tabs>
      </tabs>
      <title>Đăng nhập hệ thống</title>
    </tab>
    <tab hidden="false" ref="AdminPortal" skin="Skin.Default.config">
      <columns>
        <column stylecontent="" level="1" name="Column01" ref="3ce64a02-fdfa-49cc-80e2-714a1bbdadd5" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="Portal">
              <roles>
                <view>ADMINISTRATOR</view>
                <view>TONGBIENTAP</view>
              </roles>
              <title>Portal Settings</title>
              <type>Administrator/AdminPortal</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="0" name="Đầu trang" ref="9c116eb4-bd8a-4ad5-9b12-8a5e19a82bf6" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="236926e4-2646-4217-9c95-7e5fa3b1cc17">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Administrator/Header_Admin</type>
            </module>
          </modules>
        </column>
      </columns>
      <roles>
        <view>ADMINISTRATOR</view>
        <view>TONGBIENTAP</view>
      </roles>
      <tabs />
      <title>Quản trị hệ thống</title>
    </tab>
    <tab hidden="false" ref="office" skin="Skin.Default.config">
      <columns>
        <column stylecontent="" level="0" name="Dau trang" ref="5a592b0e-3d43-4a69-9560-3b05d81afaf5" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="a6729c9c-1116-4d68-98f5-66aaa8459872">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Administrator/Header_Admin</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Noi dung" ref="4a26222e-23ab-4f8e-92ea-8517b470bd9f" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="109806ab-40a5-42a8-9990-100d2df2a362">
              <roles>
                <view>QUANTRIKENH</view>
                <view>THUKYTOASOAN</view>
                <view>PHUTRACHCHUYENMUC</view>
                <view>BIENTAPVIEN</view>
                <view>PHONGVIEN</view>
                <view>PHUTRACHKENH</view>
                <view>ADMINISTRATOR</view>
                <view>TONGBIENTAP</view>
              </roles>
              <title>MainOffice</title>
              <type>EditoralOffice/MainOffce</type>
            </module>
          </modules>
        </column>
      </columns>
      <roles>
        <view>QUANTRIKENH</view>
        <view>THUKYTOASOAN</view>
        <view>PHUTRACHCHUYENMUC</view>
        <view>BIENTAPVIEN</view>
        <view>PHONGVIEN</view>
        <view>PHUTRACHKENH</view>
        <view>TONGBIENTAP</view>
        <view>ADMINISTRATOR</view>
      </roles>
      <tabs />
      <title>Toa soan</title>
    </tab>
    <tab hidden="false" ref="users" skin="Skin.Default.config">
      <columns>
        <column stylecontent="" level="0" name="Header" ref="c7551675-b601-49ce-a8d5-82f51e81c685" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="b62b54fe-ae75-42a8-bd0c-f4882d960d98">
              <roles>
                <view>ADMINISTRATOR</view>
                <view>TONGBIENTAP</view>
              </roles>
              <title>Header</title>
              <type>Administrator/Header_Admin</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="content" ref="5d402bed-e2a3-4191-9e90-9879f8fc3234" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="84eef212-a559-4bad-8c46-a0e05d09f262">
              <roles>
                <view>ADMINISTRATOR</view>
                <view>TONGBIENTAP</view>
              </roles>
              <title>User</title>
              <type>Usermanagement/Users</type>
            </module>
          </modules>
        </column>
      </columns>
      <roles>
        <view>ADMINISTRATOR</view>
        <view>TONGBIENTAP</view>
      </roles>
      <tabs />
      <title>Quản l&amp;#253; user</title>
    </tab>
    <tab hidden="false" ref="chuyenmuc" skin="Skin.Default.config">
      <columns>
        <column stylecontent="" level="0" name="Header" ref="aae30732-1371-454a-89b1-74e3b491af83" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="5c8dac4a-8dcf-4da4-affd-bd852cc4c538">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Administrator/Header_Admin</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Noi Dung" ref="0083b439-2239-4300-8d5b-805f4f221ae7" width="100%" isDragable="false" editablecolumnwidth="false">
          <columns />
          <modules>
            <module cacheduration="0" ref="34cf45e0-100f-42b3-a834-b5339bd0d17e">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Chức năng mới</title>
              <type>Administrator/CategoryManager</type>
            </module>
          </modules>
        </column>
      </columns>
      <roles>
        <view>QUANTRIKENH</view>
        <view>ADMINISTRATOR</view>
        <view>TONGBIENTAP</view>
        <view>PHUTRACHKENH</view>
      </roles>
      <tabs />
      <title>Quản trị hệ th&amp;#244;ng - Chuy&amp;#234;n mục</title>
    </tab>
  </tabs>
  <template>
    <column stylecontent="" level="-1" name="Cột mới" ref="aae30732-1371-454a-89b1-74e3b491af83" width="" isDragable="false" editablecolumnwidth="false">
      <columns />
      <modules />
    </column>
  </template>
  <templateref>dc0978ce-43a1-4596-8ffa-106a9f1b8182</templateref>
</portal>