<?xml version="1.0" encoding="utf-8" ?>
<items>
  <item>
    <reg>([0-9]+)-([0-9]+)-([0-9]+) ([0-9]+):([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>
  <item>
    <reg>([0-9]+):([0-9]+):([0-9]+) ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>4</date>
      <month>5</month>
      <year>6</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>
  <item>
    <reg>([0-9]+) ([0-9]+) ([0-9]+) ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>
  <item>
    <reg>([0-9]+):([0-9]+) (ngày) ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>4</date>
      <month>5</month>
      <year>6</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>
  <item>
    <reg>([0-9]+).([0-9]+) ([^/]+) ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>4</date>
      <month>5</month>
      <year>6</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>
  <item>
    <reg>([^/]+) ([0-9]+) ([^/]+) ([0-9]+) ([^/]+) ([0-9]+)</reg>
    <value>
      <date>2</date>
      <month>4</month>
      <year>6</year>
      <hour>0</hour>
      <min>0</min>
    </value>
  </item>
  <item>
    <reg>([0-9]+) (Tháng) ([0-9]+) ([0-9]+) ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>3</month>
      <year>4</year>
      <hour>5</hour>
      <min>6</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)([0-9]+)([0-9]+) ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>


  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) - ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) - ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) ([^/]+) ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>5</hour>
      <min>6</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) ([0-9]+) ([^/]+); ([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>6</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) ([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) ([0-9]+):([0-9]+) ([Sáng]+|[Chiều]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+) ([0-9]+):([0-9]+):([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>4</hour>
      <min>5</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+):([0-9]+) - ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>3</date>
      <month>4</month>
      <year>5</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+):([0-9]+)' ([^/]+) ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>4</date>
      <month>5</month>
      <year>6</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>
  <item>
    <reg>([0-9]+):([0-9]+)' ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>3</date>
      <month>4</month>
      <year>5</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>


  <item>
    <reg>([0-9]+):([0-9]+) ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>3</date>
      <month>4</month>
      <year>5</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+):([0-9]+) ([AM]+|[PM]+) ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>4</date>
      <month>5</month>
      <year>6</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+):([0-9]+)-([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>3</date>
      <month>4</month>
      <year>5</year>
      <hour>1</hour>
      <min>2</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)([^/])([0-9]+) ([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>4</date>
      <month>5</month>
      <year>6</year>
      <hour>1</hour>
      <min>3</min>
    </value>
  </item>

  <item>
    <reg>(Tháng) ([0-9]+) ([0-9]+) ([0-9]+)</reg>
    <value>
      <date>3</date>
      <month>2</month>
      <year>4</year>
      <hour>0</hour>
      <min>0</min>
    </value>
  </item>

  <item>
    <reg>([0-9]+)/([0-9]+)/([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>0</hour>
      <min>0</min>
    </value>
  </item>
  <item>
    <reg>([0-9]+)([0-9]+)([0-9]+)</reg>
    <value>
      <date>1</date>
      <month>2</month>
      <year>3</year>
      <hour>0</hour>
      <min>0</min>
    </value>
  </item>

</items>