<?xml version="1.0" encoding="utf-8"?>
<portal xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <templates>
    <template ref="home">
      <columns>
        <column stylecontent="" level="0" name="Header" ref="7c0ee72a-6b9a-491c-9699-5361b80cc7c6" width="100%">
          <columns />
          <modules>
            <module cacheduration="0" ref="c5a3581f-37fd-4753-b51f-22d253568f2d">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Front_End/Dau_Trang</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Cot content" ref="f3825b38-194f-4739-8707-7b82d7723151" width="100%">
          <columns>
            <column stylecontent="padding-right:4px" level="0" name="Cot ben trai" ref="d772ca8f-cefa-4c50-b4ba-aecb66e2deb5" width="383">
              <columns />
              <modules>
                <module cacheduration="0" ref="a4b7fb7d-7451-4fdd-bccf-777a876ca6b9">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tin noi bat</title>
                  <type>Front_End/Tin_Noi_Bat_Trang_Chu</type>
                </module>
                <module cacheduration="0" ref="47f98382-c250-418c-9c91-e56799a3ad48">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Chuyen cine</title>
                  <type>Front_End/Chuyen_Muc_O_Trang_Chu</type>
                </module>
                <module cacheduration="0" ref="237ee631-9dc5-4b8d-8fa0-5a2941a209bd">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Muc Music</title>
                  <type>Front_End/Chuyen_Muc_O_Trang_Chu</type>
                </module>
                <module cacheduration="0" ref="728dce6d-f89d-4aab-b80e-02882f8dc86f">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Muc life</title>
                  <type>Front_End/Chuyen_Muc_O_Trang_Chu</type>
                </module>
              </modules>
            </column>
            <column stylecontent="padding-right:4px" level="0" name="Cot giua" ref="83a552ff-b2b0-4728-a904-282b632a7ee6" width="241">
              <columns />
              <modules>
                <module cacheduration="0" ref="b9a91c7b-3585-46ae-8ba0-57d91b6497da">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Muc star</title>
                  <type>Front_End/Chuyen_Muc_O_Trang_Chu</type>
                </module>
                <module cacheduration="0" ref="3a0d8830-4039-4480-ab27-c86db39d994e">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Muc Fashion</title>
                  <type>Front_End/Chuyen_Muc_O_Trang_Chu</type>
                </module>
              </modules>
            </column>
            <column stylecontent="" level="0" name="Cột phai" ref="c8a79850-1c0e-446b-9720-c74270dd7899" width="323">
              <columns />
              <modules />
            </column>
          </columns>
          <modules />
        </column>
      </columns>
      <type>Chuyên trang</type>
    </template>
    <template ref="home.b_life">
      <columns>
        <column stylecontent="" level="0" name="Header" ref="7c0ee72a-6b9a-491c-9699-5361b80cc7c6" width="100%">
          <columns />
          <modules>
            <module cacheduration="0" ref="c5a3581f-37fd-4753-b51f-22d253568f2d">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Front_End/Dau_Trang</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Content" ref="fdcc8920-09ee-4a4b-95b8-94fbc4acae4f" width="100%">
          <columns>
            <column stylecontent="padding-right:4px;" level="0" name="Cot trai" ref="2576e2bf-a5ab-4caf-bf21-0ed49261d38b" width="162">
              <columns />
              <modules>
                <module cacheduration="0" ref="ad69ddb0-2a48-4f0d-8078-3e2f2318cbb3">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>TopClick</title>
                  <type>Front_End/TopClick</type>
                </module>
                <module cacheduration="0" ref="32b0d878-822e-46a6-a387-641ecb0da75b">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Consok14</title>
                  <type>Front_End/Con_So_K14</type>
                </module>
                <module cacheduration="0" ref="8e01c335-a3bb-4d97-8788-7f292154855b">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Survey</title>
                  <type>Front_End/Survey_Tong_Hop</type>
                </module>
              </modules>
            </column>
            <column stylecontent="padding-right:4px;" level="0" name="Cot giua" ref="c76ff35c-cc31-49b0-8e46-2abaf1e445a6" width="542">
              <columns />
              <modules>
                <module cacheduration="0" ref="e6fd3a99-6bea-4fbd-b939-3daf58e4cf2b">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Danh_sach_tin</title>
                  <type>Front_End/Danh_Sach_Tin</type>
                </module>
              </modules>
            </column>
            <column stylecontent="" level="0" name="Cot_Phai" ref="0443f596-a72c-4524-949b-000bae01057c" width="250">
              <columns />
              <modules>
                <module cacheduration="0" ref="8b1b7d4f-3786-4abf-96ea-f87ab4c1104f">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Topvote</title>
                  <type>Front_End/Top_Vote</type>
                </module>
                <module cacheduration="0" ref="fa3fee2c-408f-45fa-b5a2-86dd18959f20">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
                <module cacheduration="0" ref="dda75a4b-fc55-4b5e-b01d-abc3a848d67b">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>FocusMulti</title>
                  <type>Front_End/Tieu_Diem_Nhieu_Muc</type>
                </module>
              </modules>
            </column>
          </columns>
          <modules />
        </column>
      </columns>
      <type>Chuyên mục</type>
    </template>
    <template ref="home.b_life.suckhoe">
      <columns>
        <column stylecontent="" level="0" name="Header" ref="7c0ee72a-6b9a-491c-9699-5361b80cc7c6" width="100%">
          <columns />
          <modules>
            <module cacheduration="0" ref="c5a3581f-37fd-4753-b51f-22d253568f2d">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Front_End/Dau_Trang</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Content" ref="6fad4072-077b-43e5-b638-5ab12778c66a" width="100%">
          <columns>
            <column stylecontent="padding-right:4px" level="0" name="Cot trai" ref="17f925b6-0523-4131-9715-e0b69ab8dfd5" width="161">
              <columns />
              <modules>
                <module cacheduration="0" ref="19b614a3-0302-45ff-ba0d-fb97a8b56ab6">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>TopClick</title>
                  <type>Front_End/TopClick</type>
                </module>
                <module cacheduration="0" ref="62d1c880-11dd-429a-b53b-c52f9c6141f6">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Con so k14</title>
                  <type>Front_End/Con_So_K14</type>
                </module>
                <module cacheduration="0" ref="c047f9a8-b904-41e7-be6b-f37b7205e710">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Survey</title>
                  <type>Front_End/Survey_Tong_Hop</type>
                </module>
              </modules>
            </column>
            <column stylecontent="padding-right:4px" level="0" name="Cot giua" ref="284e25b3-cab7-4beb-acae-07e139e2b33e" width="542">
              <columns />
              <modules>
                <module cacheduration="0" ref="aca66e1f-08a6-4f72-98b4-539fe3bb104d">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Danh sach tin</title>
                  <type>Front_End/Danh_Sach_Tin</type>
                </module>
              </modules>
            </column>
            <column stylecontent="" level="0" name="Cot phai" ref="3f50eac4-3d17-44ef-a4a1-fdb4f2eb8127" width="250">
              <columns />
              <modules>
                <module cacheduration="0" ref="8630c868-60f1-4dd2-b233-5f7b09c93951">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Top vote</title>
                  <type>Front_End/Top_Vote</type>
                </module>
                <module cacheduration="0" ref="bef87114-c355-44e8-aa4f-38d6ea01c617">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem sk</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
                <module cacheduration="0" ref="9a825e91-69db-42b5-bcd3-4871efe28490">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem gt</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
              </modules>
            </column>
          </columns>
          <modules />
        </column>
      </columns>
      <type>Chuyên mục</type>
    </template>
    <template ref="home.details">
      <columns>
        <column stylecontent="" level="0" name="Cột mới" ref="42916f16-2663-4b17-a76e-b9b6b756c1a5" width="100%">
          <columns />
          <modules>
            <module cacheduration="0" ref="555bdd77-5de6-41ea-8256-65f271e42bb7">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Front_End/Dau_Trang</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Content" ref="704a7a3f-7f31-4113-948d-c447b8b68933" width="100%">
          <columns>
            <column stylecontent="padding-right:4px;" level="0" name="Cot trai" ref="0f95a212-a24a-47fe-bd74-8f14462ef189" width="161">
              <columns />
              <modules>
                <module cacheduration="0" ref="d8581620-ee35-4595-ae7f-1ac4567bb91b">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>TopClick</title>
                  <type>Front_End/TopClick</type>
                </module>
              </modules>
            </column>
            <column stylecontent="padding-right:4px;" level="0" name="Cot giua" ref="1b3db7c2-0b3d-454b-b221-da37e143ef43" width="542">
              <columns />
              <modules>
                <module cacheduration="0" ref="cdde9796-2124-48b3-8306-5d96118cb3db">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tin chi tiet</title>
                  <type>Front_End/Tin_Chi_Tiet</type>
                </module>
              </modules>
            </column>
            <column stylecontent="" level="0" name="Cot phai" ref="cd1e5659-1dbd-474e-8fbc-c35a828f6507" width="250">
              <columns />
              <modules>
                <module cacheduration="0" ref="4cfea999-3dcb-4736-ace2-371c6f0a6b68">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Top vote</title>
                  <type>Front_End/Top_Vote</type>
                </module>
                <module cacheduration="0" ref="dc702851-28c4-4f48-9cb1-3ca5cb86120a">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
                <module cacheduration="0" ref="8afe01b6-28d7-4655-8d7e-9dbe19e0e493">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem sk</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
                <module cacheduration="0" ref="4d4cfbe4-0509-4cd9-bd3c-4f104fbbaed9">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem gioi tinh</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
              </modules>
            </column>
          </columns>
          <modules />
        </column>
      </columns>
      <type>Bài</type>
    </template>
    <template ref="home.b_music.us-uk">
      <columns>
        <column stylecontent="" level="0" name="Cot Head" ref="514372d6-a50e-46d2-afe5-5cf7c841365f" width="100%">
          <columns />
          <modules>
            <module cacheduration="0" ref="6aaf33a4-fc93-4cb1-9a9a-a0c0c1bafa47">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Header</title>
              <type>Front_End/Dau_Trang</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Content" ref="7e082785-211d-40f2-bfea-12a1f497c15f" width="100%">
          <columns>
            <column stylecontent="padding-right:4px" level="0" name="Cot trai" ref="ace1babf-c5f7-4718-a3d6-806dcb7bf841" width="167">
              <columns />
              <modules>
                <module cacheduration="0" ref="4b7644be-cbf1-46e6-afac-6c422717050b">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Top click</title>
                  <type>Front_End/TopClick</type>
                </module>
                <module cacheduration="0" ref="583f5d41-2bcf-4c68-a9c3-d96bf4d919bc">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Top vote</title>
                  <type>Front_End/Top_Vote</type>
                </module>
                <module cacheduration="0" ref="a9d55caa-cf89-4b1a-af83-8060d698c41c">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem tren gia dia</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
              </modules>
            </column>
            <column stylecontent="padding-right:4px;" level="0" name="Cot giua" ref="5583d137-19a7-4f51-aba5-d1fb31f470fa" width="532">
              <columns />
              <modules>
                <module cacheduration="0" ref="e8139bbe-5e45-4675-80d3-193aaba331ab">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Danh sach tin</title>
                  <type>Front_End/Danh_Sach_Tin</type>
                </module>
              </modules>
            </column>
            <column stylecontent="" level="0" name="Cot phai" ref="9efd58f5-f1c9-4b5d-b0e4-d976a5077f00" width="253">
              <columns />
              <modules>
                <module cacheduration="0" ref="fcae1529-3465-45fb-8a2f-98c0bcca158f">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem us-uk</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
                <module cacheduration="0" ref="50bada58-fecb-4d41-8552-c6283b3c4d30">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem chau a</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
                <module cacheduration="0" ref="4bf51b36-a04c-4ee0-b793-3d4fb49ada9f">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem vpop</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
                <module cacheduration="0" ref="8c5826b8-9c0c-444a-8dbb-9731149a3d33">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Bang xep hang</title>
                  <type>Front_End/Bang_Xep_Hang_Music</type>
                </module>
              </modules>
            </column>
          </columns>
          <modules />
        </column>
      </columns>
      <type>Chuyên mục</type>
    </template>
    <template ref="home.b_star.360sao">
      <columns>
        <column stylecontent="" level="0" name="Header" ref="57117506-d00e-4be7-bc69-85a2371f7815" width="100%">
          <columns />
          <modules>
            <module cacheduration="0" ref="cae8a98c-428f-47f3-9bbf-5481d6f84f1a">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>Dau trang</title>
              <type>Front_End/Dau_Trang</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Content" ref="282f9560-5c83-47df-8bad-32fd0b7097d2" width="100%">
          <columns>
            <column stylecontent="padding-right:4px;" level="0" name="Cot trai" ref="51ccfe0c-1ac4-403b-bb1e-16687f089eb3" width="536">
              <columns />
              <modules>
                <module cacheduration="0" ref="b508b727-d885-47e2-a19a-09e49899af55">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Danh sach tin</title>
                  <type>Front_End/Danh_Sach_Tin</type>
                </module>
              </modules>
            </column>
            <column stylecontent="padding-right:4px;" level="0" name="Cot giua" ref="42ba87f2-26c8-41f0-8f9b-787f5867e7e1" width="207">
              <columns />
              <modules>
                <module cacheduration="0" ref="c9d55baa-c9b0-4f2b-a2d0-fb6a2d54690f">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Topclick</title>
                  <type>Front_End/TopClick</type>
                </module>
                <module cacheduration="0" ref="608bf56c-4aa0-4a6e-9fbb-3c085ad0592c">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem 360</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
              </modules>
            </column>
            <column stylecontent="" level="0" name="Cot phai" ref="fe910c79-53a0-42be-b8eb-2ce99e6ef33d" width="207">
              <columns />
              <modules>
                <module cacheduration="0" ref="d54cac75-65ca-451d-90ab-29a290760087">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Top vote</title>
                  <type>Front_End/Top_Vote</type>
                </module>
                <module cacheduration="0" ref="50ad5431-eb25-4d3e-b786-bb7054dd007a">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Tieu diem scandal</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
              </modules>
            </column>
          </columns>
          <modules />
        </column>
      </columns>
      <type>Chuyên mục</type>
    </template>
    <template ref="home.b_cine.hollywood_chauau">
      <columns>
        <column stylecontent="" level="0" name="Dau trang" ref="226f3b42-ba4b-4171-bf6a-e569b04632ab" width="100%">
          <columns />
          <modules>
            <module cacheduration="0" ref="0df1c244-68ec-4658-afe1-dc5035fd25e8">
              <roles>
                <view>TATCA</view>
              </roles>
              <title>header</title>
              <type>Front_End/Dau_Trang</type>
            </module>
          </modules>
        </column>
        <column stylecontent="" level="1" name="Content" ref="556e62db-e0cf-4851-bad4-9293e2470e64" width="100%">
          <columns>
            <column stylecontent="padding-right:4px;" level="0" name="Cot trai" ref="0d49e13e-b6f3-466b-bf82-7520df88db30" width="699">
              <columns>
                <column stylecontent="" level="0" name="Top" ref="5d6934d7-9259-4c86-bfcb-d98031a1933a" width="100%">
                  <columns />
                  <modules>
                    <module cacheduration="0" ref="15ecf5b7-9bc5-430f-acf9-3ea8a41876cb">
                      <roles>
                        <view>TATCA</view>
                      </roles>
                      <title>Gallery</title>
                      <type>Front_End/Film_Gallery</type>
                    </module>
                  </modules>
                </column>
                <column stylecontent="" level="1" name="Cot duoi" ref="fe9564c1-cf77-41f1-9330-a1eb88cf27a6" width="100%">
                  <columns>
                    <column stylecontent="padding-right:4px;" level="0" name="Duoi trai" ref="8afa7e9d-f252-4403-a37e-46785cf9565c" width="210">
                      <columns />
                      <modules>
                        <module cacheduration="0" ref="85a86064-ab66-4e7f-936e-1045058de4da">
                          <roles>
                            <view>TATCA</view>
                          </roles>
                          <title>Poster</title>
                          <type>Front_End/Film_Poster</type>
                        </module>
                        <module cacheduration="0" ref="7dbdf85c-0422-4729-86d0-e2563b79bcb3">
                          <roles>
                            <view>TATCA</view>
                          </roles>
                          <title>Tieu diem blog</title>
                          <type>Front_End/Tin_Tieu_Diem</type>
                        </module>
                        <module cacheduration="0" ref="47899cfa-b613-46b7-bb6f-69525d313b68">
                          <roles>
                            <view>TATCA</view>
                          </roles>
                          <title>Tieu diem hs phim</title>
                          <type>Front_End/Tin_Tieu_Diem</type>
                        </module>
                      </modules>
                    </column>
                    <column stylecontent="" level="0" name="Duoi phai" ref="92a07759-a2cc-4607-a016-3763dd515f41" width="485">
                      <columns />
                      <modules>
                        <module cacheduration="0" ref="90109c1e-ac5f-40d9-8014-5ba162e6e8eb">
                          <roles>
                            <view>TATCA</view>
                          </roles>
                          <title>Danh sach tin</title>
                          <type>Front_End/Danh_Sach_Tin</type>
                        </module>
                      </modules>
                    </column>
                  </columns>
                  <modules />
                </column>
              </columns>
              <modules />
            </column>
            <column stylecontent="" level="0" name="Cot phai" ref="95342cd0-bae8-4516-9d64-ec0d0cae9a78" width="257">
              <columns />
              <modules>
                <module cacheduration="0" ref="34b6d57d-11ed-435d-8bc2-8e716ad8b2a1">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Lich chieu</title>
                  <type>Front_End/Tim_Lich_Phim</type>
                </module>
                <module cacheduration="0" ref="910915c0-0395-404d-9daf-15fc3395b7c0">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>Bang xep hang</title>
                  <type>Front_End/Bang_Xep_Hang_Phim</type>
                </module>
                <module cacheduration="0" ref="c8b6ac36-0d8a-4b31-8942-43c7237e1317">
                  <roles>
                    <view>TATCA</view>
                  </roles>
                  <title>tieu diem bai binh luan</title>
                  <type>Front_End/Tin_Tieu_Diem</type>
                </module>
              </modules>
            </column>
          </columns>
          <modules />
        </column>
      </columns>
      <type>Chuyên trang</type>
    </template>
    <template ref="8b5be9fc-f6ba-4aca-83fa-53200b121dac">
      <columns />
      <type>CT</type>
    </template>
    <template ref="dc0978ce-43a1-4596-8ffa-106a9f1b8182">
      <columns>
        <column stylecontent="" level="-1" name="Cột mới" ref="aae30732-1371-454a-89b1-74e3b491af83" width="">
          <columns />
          <modules />
        </column>
      </columns>
      <type>CT</type>
    </template>
  </templates>
</portal>