<?xml version="1.0" encoding="utf-8" ?> 
<language>
	<word ref="GenTabsTitle" value="Quản lý danh sách thẻ theo danh mục" />
	<word ref="GenAllTabsButton" value="+ Cập nhật toàn bộ các thẻ" />	
	<word ref="GenEditionTabsButton" value="+ Cập nhật thẻ chuyên san" />	
	<word ref="GenParentCategoryTabsButton" value="+ Cập nhật danh mục cha" />	
	<word ref="GenSubCategoryTabsButton" value="+ Cập nhật danh mục con" />	
	<word ref="GenParentCategoryApplyToCustomTab" value="Chọn một thẻ" />	
	<word ref="GenCustomTabButton" value="+ Sử dụng thẻ mẫu cho thẻ đã chọn" />		
	
	<word ref="EditionTypeURL" value="Tên hiển thị của chuyên san" />
	<word ref="EditionTypeName" value="Tên chuyên san" />
	<word ref="CategoryIcon" value="Ảnh đại diện" />
	<word ref="CategoriesName" value="Tên danh mục" />
	<word ref="CategoriesDisplayURL" value="Tên hiển thị của thẻ" />
	<word ref="CategoriesList" value="Danh mục cha" />
	<word ref="SubCategoriesList" value="Danh mục con" />
	<word ref="AddTopCategory" value="Thêm mới danh mục cha" />
	<word ref="AddSubCategory" value="Thêm mới danh mục con" />
	
	<word ref="CategoryName" value="Tên danh mục" />
	<word ref="CategoryDescription" value="Đặc tả" />
	<word ref="CategoryDisplayURL" value="Tên hiển thị trên đường dẫn" />
	<word ref="CategoryIsColumn" value="Chuyên đề" />
	<word ref="CategoryIsHidden" value="Ẩn" />
	<word ref="CategoryParent" value="Danh mục cha" />
	<word ref="SaveCategory" value="Lưu" />
	<word ref="CancelCategory" value="Dừng" />
	<word ref="EditCategoryHeader" value="Thông tin danh mục" />
	
	<word ref="CurrentTemplateTabReference" value="Thẻ mẫu hiện thời" />
	
</language>