<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cms_coreConnectionString" connectionString="server=.;uid=sa;pwd=123456;database=xevaphon_CMS" />
    <!--<add name="cms_coreConnectionString" connectionString="server=210.245.90.210;uid=xevap_admin;pwd=123qweASD;database=xevaphon_CMS"  />-->
  </connectionStrings>
  <appSettings>
  
    <add key="SoBaiNoiBatTrangChu" value="1" />
    <add key="CoreDb" value="ChannelvnCore" />
    <add key="Channel" value="ChannelvnCore" />
    <!--danh cho Upload Image-->
    <add key="ImageUrl" value="http://image.sanphamsangtao.com/" />
    <add key="extensionFile" value="JPG;JPEG;BMP;PNG;GIF;FLV;SWF;MP3;WMA;WMV;AVI;ZIP;DOC;XLS;PPT;PDF;RAR" />
    <!--het danh cho Upload Image-->
    <add key="EnableIndex" value="false" />
    <add key="IndexerServer" value="http://210.245.91.67:8080/solr" />
    <add key="fileSize" value="1000" />
    <add key="fileWidth" value="1000" />
    <add key="icmsHeader" value="Xephongcach.vn-Content Management System" />
    <add key="HomeLink" value="http://beta.sanphamsangtao.com/" />
  </appSettings>
  <system.web>
    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="ChannelvnCore" connectionStringName="cms_coreConnectionString" pollTime="60000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <machineKey validationKey="3A1EC6B4D73D4D6D85C50EEBC03C1B1F25EC2AF8E5C35F4A8CE4E3C1AD60775934A9096312C899F8005B02F56D37F2F190B9099B5C6B723DA8DC5AA2A0E53227" decryptionKey="6FB17BD66EABD2F0B95AC6987F1B6567858582A362BA3A90" validation="MD5" />
    <httpHandlers>
      <!--Chart-->
      <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false" />
      <!--Portal-->
      <add verb="*" path="*.aspx" type="DFISYS.Ultility.TabHttpHandler" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpRuntime executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" requestValidationMode="2.0" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off"></customErrors>
    <authentication mode="Forms">
      <forms name="dotnetportal.auth" loginUrl="login.aspx" cookieless="UseDeviceProfile" protection="All" timeout="120" />
    </authentication>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"></trace>
    <sessionState cookieless="UseCookies" mode="InProc" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" stateConnectionString="tcpip=127.0.0.1:42424" timeout="120" useHostingIdentity="true"></sessionState>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US"></globalization>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <add name="chn1" path="*.aspx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add name="channel" path="*.aspx" verb="*" type="DFISYS.Ultility.TabHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="chn" path="*.aspx" verb="*" type="DFISYS.Ultility.TabHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ChartAxd" path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>